.btn {
    padding: 13px 47px;
    background: #F6F3E3;
    border-radius: 4px;

    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #241D1C;

    &:hover:not(:disabled) {
        background-color: #EFE7BE
    }

    &:focus-visible {
        outline: 1px solid #fff;
    }

    &:disabled {
        opacity: 0.4;
    }

    @media (max-width:560px) {
        font-size: 12px;
        padding: 10px 25px;
    }

}