.footer {
    padding: 62px 0 24px;

    @media (max-width:762px) {
        padding: 40px 0 24px;
    }

    @media (max-width:560px) {
        padding: 32px 0 24px;
    }
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 16px;
    border-top: 1px solid #BFBDB2;

    @media (max-width:560px) {
        margin-bottom: 32px;
        align-items: start;
        flex-direction: column;

        .logo {
            margin-bottom: 32px;
        }

        .nav__list {
            margin-bottom: 32px;
            flex-direction: column;
            column-gap: unset;
            align-items: start;
        }
    }

    .nav__link {
        @media (max-width:1024px) {
            font-size: 14px;
          }
          @media (max-width:560px) {
              font-size: 12px;
          }
    }

}


.footer__list {
    font-size: 12px;
    line-height: 1;
}
.footer__item {
    +.footer__item {
        margin-top: 7px;
    }

    @media (max-width:560px) {
        margin-top: 9px;
    }
}
.footer__copi {
    font-size: 12px;
    line-height: 1;
}